@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-image: url("images/bg-intro-desktop.png");
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
}

body::before {
  content: " ";
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 0, 0, 0.5);
}

.content-wrapper {
  max-width: 100%;
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.left-half,
.right-half {
  display: inline-block;
  width: 50%;
  height: 100%;
  transform: translateY(0%);
}

.left-half {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-half h1,
h6 {
  text-wrap: balance;
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin-left: 80px;
  display: inline;
}
.left-half h6 {
  font-size: 14px;
  margin-top: 0;
  font-weight: 400;
}

.attribution {
  font-size: 10px;
  text-align: left;
  position: absolute;
  bottom: 0px;
  left: 10px;
}
.right-half {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.payment-button {
  background-color: hsl(248, 32%, 49%);
  width: 80%;
  border-radius: 5px;
  margin: 20px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  letter-spacing: 1.1px;
  font-family: "Poppins", sans-serif;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
}
div.form {
  border: transparent;
  border-radius: 10px;
  width: auto;
  padding-inline: 40px;
  height: fit-content;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 0px 0px rgba(0, 0, 0, 0.1);
}

div.term-and-conditions {
  font-size: 8px;
  margin-bottom: 40px;
  color: hsl(246, 25%, 77%);
  margin-top: 10px;
}
span.terms {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}

.form input {
  width: 320px;
  margin: 8px 0;
  padding: 10px;
  padding-left: 20px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.form input::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0px;
}

.form input:first-child {
  margin-top: 30px;
}

.form input:focus {
  border: 1px solid hsl(248, 32%, 49%);
  outline: none;
  font-size: 12px;
  color: hsl(249, 10%, 26%);
  font-weight: 600;
  caret-color: hsl(248, 32%, 49%);
  font-family: inherit;
}

#submit {
  background-color: hsl(154, 59%, 51%);
  color: #fff;
  text-transform: uppercase;
  border: 1px solid rgb(0, 180, 100);
  border-radius: 5px;
  font-size: 12px;
  padding: 10px 0;
  box-shadow: 0px 3px 0px 0px rgb(0, 180, 100);
  font-family: inherit;
}
#submit:hover {
  cursor: pointer;
}

input.error {
  border: 2px solid hsl(0, 100%, 74%);
  position: relative;
  background-image: url("images/icon-error.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 280px;
}

.error-text,
.error-text-email {
  color: hsl(0, 100%, 74%);
  font-size: 8px;
  font-style: italic;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#email.error::placeholder {
  color: hsl(0, 100%, 74%);
}
@media only screen and (max-width: 675px) {
  body {
    background-image: url(images/bg-intro-mobile.png);
  }
  .content-wrapper {
    flex-direction: column;
    padding: 0 3rem;
    margin: 3rem auto;
    position: relative;
  }
  .left-half,
  .right-half {
    width: 100%;
    min-width: 365px;
  }
  .left-half {
    position: absolute;
    bottom: 30%;
  }

  .left-half h1,
  h6 {
    text-align: center;
    margin: 20px 20px;
  }

  .right-half {
    position: absolute;
    top: 35%;
    min-width: 375px;
  }

  div.form {
    width: 90%;
    padding: 0;
  }
  div.payment-button {
    width: 90%;
  }

  div.form-inside {
    width: 95%;
  }
  .form input {
    width: 95%;
  }
  .attribution {
    display: none;
  }
}
